version: "3.9"
services:
  api:
    build: ./backend
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app/backend/src
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app/backend
  worker:
    build: ./backend
    working_dir: /app/backend/src
    command: sh -c "celery -A infrastructure.tasks.celery_app.app worker -l info"
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app/backend/src
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
      - db
    volumes:
      - ./backend:/app/backend
  db:
    image: ankane/pgvector:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: def_civil
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"

volumes:
  waha_sessions:
  waha_media:
  postgres_data:
